<section id="venue">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <h2 class="section-heading">Venue</h2>

                <hr class="light" />

                <p>
                    We are very proud and excited to bring the <strong>hack.commit.push</strong> event to Winterthur.
                </p>

                <p>
                    Thanks a lot to <a target="_blank" rel="noopener" href="https://tpw.ch/en">Technopark Winterthur</a>
                    for accommodating us!
                </p>

                <dl>
                    <dt>
                        Address
                    </dt>
                    <dd>
                        <a target="_blank" rel="noopener" href="https://tpw.ch/en">Technopark Winterthur</a> &middot;
                        <a class="localization" target="_blank" rel="noopener" href="https://maps.app.goo.gl/Mgpfdnds44bNULZP9">
                            Technoparkstrasse 2, 8406 Winterthur</a>
                    </dd>
                    <dt>
                        Closest stop
                    </dt>
                    <dd>
                        Winterthur, 5 minutes walk from the train station
                    </dd>
                </dl>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2695.7350425221493!2d8.71295832780565!3d47.49507475876041!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479a996df83b6f5b%3A0xcf267e314ebed4ef!2sLoki!5e0!3m2!1sen!2sch!4v1742480191914!5m2!1sen!2sch" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</section>